{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/glovo_info.css') }}">
	<title>Сайт інйормації</title>
{% endblock %}

{% block body %}

<main>
    <section class="no-parallax">
        <h1>Трішки більше про Glovo &#129297;</h1>
    </section>
    <section class="parallax bg">

    </section>
    <section class="no-parallax">
        <h1>Glovo — іспанська компанія, яка надає сервіс доставки через мобільний застосунок. Станом на 2021 рік компанія оперує у більш, ніж 25 країнах. Із сервісом співпрацює більше 61 000 кур'єрів.</h1>
        <h2>Через мобільний додаток клієнти можуть замовити будь-який товар невеликого розміру (40x40x30см) вагою до 9 кг. Переважно це їжа, ліки, та документи. У Європі, наприклад, 85 % замовлень складає покупка і доставка їжі. Після оформлення замовлення користувач має можливість відстежувати переміщення кур'єра на маршруті в режимі реального часу.
        </h2>
    </section>
    <section class="parallax bg">

    </section>
    <section class="no-parallax">
        <h1>Наші нагороди:</h1>
            <h1>2015 — нагорода Google за мобільні інновації в сегменті роздрібної торгівлі.</h1>
                <h1>Листопад 2016 — нагорода Expansión за найкращі цифрові ідеї в категорії нових бізнес-моделей.</h1>
                    <h1>Травень 2017 — увійшла до рейтингу Топ-40 компаній, які змінять світ.</h1>
    </section>
</main>




{% endblock %}
